html{
    box-sizing: border-box;
  }
  body{
    text-align: center;
  }
  @font-face {
    font-family: lightfont;
    src: url(../Nexa-Light.otf);
  }
  @font-face {
    font-family: boldfont;
    src: url(../Nexa-Bold.otf);
  }
  
  *{
    font-family: lightfont;
  }
  h1{
    font-family: boldfont;
  }
  h3{
    font-family: boldfont;
  }

  .top{
      position: relative;
      background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg
      );
      background-size: 100% 100%;
      padding: 7rem;
      color: #fff;
  }
  .top:before{
    content:'';
    position:absolute;
    left:0; top:0;
    width: 100%;
    height: 100%;
    display:inline-block;
    background-image: linear-gradient(to left,transparent 15%, #0099cc);
  }
  .top>.title{
      position: absolute;
      top: 20%;
      left: 35%;
  }

  /* Image div */
    #image{
    max-width: 430px;
    margin: 0 auto;
    }
    /* End */

  .vaccine{
      padding: 1rem 1rem;
      padding-top: .5rem;
  }
  .vaccine>.container>.image>img{
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
  .vaccine>.container>.about{
      text-align: start;
  }
  .vaccine>.container>.about>ul{
    list-style: none;
  }
  .vaccine>.container>.about>ul>li::before {
    content: "\2022";
    color: #0099cc;
    display: inline-block; 
    width: 1rem;
    font-size: x-large;
  }
  .vaccine>.more{
      padding: 2rem 0;
  }
  .vaccine>.more>.data>.fas{
      background-color: #96c6e7;
      padding: 1.2rem;
      font-size: x-large;
      border-radius: 50%;
  }
  .vaccine>.detail>.dt{
      border: 2px solid lightgrey;
      border-radius: 10px;
      text-align: start;
      padding: 1rem 0 2rem 0;
      margin: 0 auto;
      margin-bottom: 1rem;
      max-width: 420px;
  }
  .vaccine>.detail>.dt>.info{
      display: grid;
      grid-template-columns: auto auto;
      margin: 0 1.7rem;
  }
  .vaccine>.detail>.dt>.info>.left{
      grid-column: 1/2;
      border-bottom: 1px solid lightgrey;
  }
  .vaccine>.detail>.dt>.info>.right{
      grid-column: 2/3;
      text-align: right;
      border-bottom: 1px solid lightgrey;
  }
  .vaccine>.detail>.dt>.info>.left>p{
      font-family: boldfont;
      color: rgb(59, 59, 59);
      margin-bottom: 0;
  }
  .vaccine>.detail>.dt>.info>.right>p{
    font-family: boldfont;
    color: grey;
    margin-bottom: 0;
  }

  .services{
      padding: .5rem 0 1.5rem 0;
      background-color: #96c6e7;
  }
  .services>.h>h1{
      color: #fff;
  }
  .services>.icon>.fas{
      background-color: #fff;
      border-radius: 50%;
      padding: .7rem 1rem;
      font-size: large;
      margin: 0 .2rem;
  }
  .services>.cards{
      margin: 1.2rem;
  }
  .services>.cards>.card{
      background-color: #fff;
      border-radius: 10px;
      max-width: 430px;
      margin: .2rem auto;
  }
  .services>.cards>.card>.image>img{
    width: 100%;
    height: 240px;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
  }
  .services>.cards>.card>h2{
      text-align: start;
      padding: 1rem 0 2rem 0;
      margin-bottom: .5rem;
  }

  @media only screen and (min-width:600px){
    .top>.title{
        left: 40%;
    }
  }
  @media only screen and (min-width:750px){
    .top>.title{
        left: 39%;
    }
      .vaccine{
          margin: 0 2rem;
          padding: .5rem 0;
      }
      h1{
          text-align: start;
          margin: 1.5rem 2rem;
      }
      .vaccine>.container{
          display: grid;
          grid-template-columns: auto auto;
      }
      .vaccine>.container>.image{
          grid-column: 1/2;
      }
      .vaccine>.container>.about{
        grid-column: 2/3;
        margin-left: 1rem;
      }
      .vaccine>.container>.about>h2{
          margin-top: 0;
      }
      .vaccine>.more{
          display: grid;
          grid-template-columns: auto auto auto;
          padding-top: 3rem;
      }
      .vaccine>.more>.one{
          grid-column: 1/2;
      }
      .vaccine>.more>.two{
          grid-column: 2/3;
          margin-left: 1rem;
      }
      .vaccine>.more>.three{
          grid-column: 3/4;
          margin-left: 1rem;
      }
      .vaccine>.detail{
          display: grid;
          grid-template-columns: auto auto;
      }
      .vaccine>.detail>.service{
          margin-right: 1rem;
      }

      .services{
          display: grid;
          grid-template-columns: 75% 25%;
          padding: 1rem 2rem;
      }
      .services>.h{
          grid-column: 1/2;
          text-align: start;
      }
      .services>.icon{
          grid-column: 2/3;
          margin: auto;
          margin-right: 0;
      }
      .services>.cards{
          grid-column: 1/3;
          display: grid;
          grid-template-columns: auto auto auto;
          margin: 0 0 1.2rem 0;
      }
      .services>.cards>.card{
          margin: 0 .3rem;
      }
  }
  @media only screen and (min-width:900px){
      .top>.title{
          left: 0%;
      }
      h1{
          margin: 1.5rem 5rem;
      }
      .vaccine{
          margin: 0 5rem;
          display: grid;
          grid-template-columns: 33% 34% 33%;
      }
      .vaccine>.container{
          grid-column: 1/3;
          display: grid;
          grid-template-columns: 45% 55%;
      }
      .vaccine>.container>.image{
          grid-column: 1/2;
      }
      .vaccine>.container>.about{
          grid-column: 2/3;
      }
      .vaccine>.more{
          grid-column: 1/3;
      }
      .vaccine>.detail{
          grid-column: 3/4;
          grid-row: 1/3;
          display: grid;
          margin-left: 1rem;
          grid-template-columns: auto;
      }
      .vaccine>.detail>.dt{
          margin:0 0 1rem 0;
      }

      .services{
          padding: 1rem 5rem;
      }
      .services>.h>h1{
          margin: 1.5rem 0;
      }
  }